#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

h2 {
  margin-bottom: 24px;
}

.disclaimer {
  font-size: 0.9rem;
  margin-top: 36px;
  bottom: 0;
  right: 24px;
  color: #b0b0b0;
}
